.custom-title-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-left: 1px solid rgba(34, 36, 38, 0.15);
    border-right: 1px solid rgba(34, 36, 38, 0.15);
}
.custom-title-bar > .column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    border-bottom: 1px solid rgba(34, 36, 38, 0.15);
    border-top: 1px solid rgba(34, 36, 38, 0.15);
    height: 64px;
}
.custom-title-bar .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.custom-title-bar .wrapper .column {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 138px;
    border-left: 1px solid rgba(34, 36, 38, 0.15);
    border-bottom: 1px solid rgba(34, 36, 38, 0.15);
    border-top: 1px solid rgba(34, 36, 38, 0.15);
    height: 64px;
    text-align: center;
}
.product-specification-parameters {
    border-left: 1px solid rgba(34, 36, 38, 0.15);
    border-right: 1px solid rgba(34, 36, 38, 0.15);
}
.product-specification-parameters > div.field #sylius_product_specification_itemConfigurations > div.field {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}
.product-specification-parameters > div.field #sylius_product_specification_itemConfigurations > div.field > label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    flex-grow: 1;
    margin: 0;
    border-bottom: 1px solid rgba(34, 36, 38, 0.15);
}
.product-specification-parameters > div.field #sylius_product_specification_itemConfigurations > div.field > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
}
.product-specification-parameters > div.field #sylius_product_specification_itemConfigurations > div.field > div > div.field {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid rgba(34, 36, 38, 0.15);
    border-bottom: 1px solid rgba(34, 36, 38, 0.15);
    width: 138px;
    height: 100%;
    margin: 0;
}
.product-specification-parameters > div.field #sylius_product_specification_itemConfigurations > div.field > div > div.field > div.checkbox {
    width: 52px;
    height: 23px;
    overflow: hidden;
    padding: 1px;
}
.product-specification-parameters > div.field #sylius_product_specification_itemConfigurations > div.field > div > div.field > div.checkbox > label {
    height: 23px;
    padding: 0 0 0 51px;
}

