{% extends '@ArtisCommon/Admin/Form/imagesTheme.html.twig' %}

{% block dh_product_variant_specification_item_value_widget %}
    {% apply spaceless %}
        {% if form.vars.value.type|default(null) == 'SELECT + IMAGE' %}
            {% set addedValuesImages = "hidden ui segment options-container" %}
        {% else %}
            {% set addedValuesImages = "ui segment options-container" %}
        {% endif %}

        <br/>
        {{ form_row(form.code) }}
        {{ form_row(form.value) }}
        <div id="dh_product_variant_specification_item_value_configurator_image" class="{{ addedValuesImages }}">
            {{ form_row(form.image) }}
        </div>
    {% endapply %}
{% endblock %}

{% block dh_product_variant_specification_image_widget %}
    {% apply spaceless %}
        {% if form.vars.value.path|default(null) is not null %}
            <img class="ui small bordered image" src="{{ form.vars.value.path|imagine_filter('sylius_small') }}"
                 alt="{{ form.vars.value.type }}"/>
        {% endif %}
        <div class="ui hidden element">
            {{ form_widget(form.file) }}
        </div>
        <div style="margin-top: 10px">
            <label for="{{ form.file.vars.id }}" class="ui icon labeled button"><i
                        class="cloud upload icon"></i> {{ 'sylius.ui.choose_file'|trans }}</label>
        </div>
        <div class="ui element">
            {{- form_errors(form.file) -}}
        </div>
    {% endapply %}
{% endblock %}


{% block dh_product_variant_specification_item_value_image_widget %}
    {% apply spaceless %}
        {% if form.vars.value.path|default(null) is not null %}
            <img class="ui small bordered image" src="{{ form.vars.value.path|imagine_filter('sylius_small') }}"
                 alt="{{ form.vars.value.type }}"/>
        {% endif %}
        <div class="ui hidden element">
            {{ form_widget(form.file) }}
        </div>
        <div style="margin-top: 10px">
            <label for="{{ form.file.vars.id }}" class="ui icon labeled button"><i
                        class="cloud upload icon"></i> {{ 'sylius.ui.choose_file'|trans }}</label>
        </div>
        <div class="ui element">
            {{- form_errors(form.file) -}}
        </div>
    {% endapply %}
{% endblock %}

{% block dh_product_variant_specification_item_image_widget %}
    {% apply spaceless %}
        {% if form.vars.value.path|default(null) is not null %}
            <img class="ui small bordered image" src="{{ form.vars.value.path|imagine_filter('sylius_small') }}"
                 alt="{{ form.vars.value.type }}"/>
        {% endif %}
        <div class="ui hidden element">
            {{ form_widget(form.file) }}
        </div>
        <div style="margin-top: 10px">
            <label for="{{ form.file.vars.id }}" class="ui icon labeled button"><i
                        class="cloud upload icon"></i> {{ 'sylius.ui.choose_file'|trans }}</label>
        </div>
        <div class="ui element">
            {{- form_errors(form.file) -}}
        </div>
    {% endapply %}
{% endblock %}
