{% from '@SyliusAdmin/Macro/translationForm.html.twig' import translationForm %}
{% form_theme form '@DHArtisProductSpecificationPlugin/Admin/Form/imagesTheme.html.twig' %}
{{ form_errors(form) }}

<h4 class="ui dividing header">{{ 'dh_artis_product_specification_plugin.ui.product_variant_specification_item'|trans }}</h4>
<div class="ui segment options-container">
    {{ form_errors(form) }}
    <div class="two fields">
        {{ form_row(form.code) }}
    </div>
    {{ translationForm(form.translations) }}
    {{ form_row(form.type) }}
</div>
{% set hiddenClass = "" %}
{% if form.vars.value.type == 'SELECT + IMAGE' or form.vars.value.type == 'SELECT' %}
    <div class="loader variable-loader"></div>
{% else %}
    {% set hiddenClass = "hidden" %}
{% endif %}

<div class="ui segment options-container">
    <h4 class="ui dividing header">{{ 'dh_artis_product_specification_plugin.ui.product_variant_specification_item_image'|trans }}</h4>
    <br>
    {{ form_row(form.image, {'label': false}) }}
</div>
<div id="dh_product_variant_specification_item_value_configurator" class="value-configurator ui segment options-container {{ hiddenClass }}">
    <h4 class="ui dividing header">{{ 'dh_artis_product_specification_plugin.ui.product_variant_specification_item_value'|trans }}</h4>
    <br>
    <div class="values-container">
        {{ form_row(form.values) }}
    </div>

</div>

{% block stylesheets %}
    <style>
        .hidden {
            display: none;
        }

        #dh_product_variant_specification_item_value_configurator_image {
            display: none;
        }

        .select_image_type #dh_product_variant_specification_item_value_configurator_image {
            display: block;
        }

        .values-container {
            margin-bottom: 10px;
        }

        .disabled {
            pointer-events: none;
        }

        .loader {
            margin: auto;
            border: 5px solid #f3f3f3;
            -webkit-animation: spin 1s linear infinite;
            animation: spin 1s linear infinite;
            border-top: 5px solid #555;
            border-radius: 50%;
            width: 50px;
            height: 50px;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        window.onload = function (e) {
            var Element = document.getElementById("dh_product_variant_specification_item_type")
            var Container = document.getElementById("dh_product_variant_specification_item_value_configurator")

            if (Element.value == 'SELECT + IMAGE') {
                Container.classList.add('select_image_type')
                document.getElementById("dh_product_variant_specification_item_value_configurator_image").classList.remove("hidden")
            } else {
                Container.classList.remove('select_image_type')
            }
        }

        function removeVariablesLoaders() {
            let variableLoaders = document.querySelectorAll(".variable-loader");

            for (let variableLoader of variableLoaders) {
                variableLoader.remove();
            }
        }

        document.getElementById("dh_product_variant_specification_item_type").onchange = (function (e) {
            var Container = document.getElementById("dh_product_variant_specification_item_value_configurator")

            if (e.target.value == 'SELECT + IMAGE') {
                document.getElementById("dh_product_variant_specification_item_value_configurator").classList.remove("hidden")

                if(document.getElementById("dh_product_variant_specification_item_value_configurator_image"))
                    document.getElementById("dh_product_variant_specification_item_value_configurator_image").classList.remove("hidden")

                Container.classList.add('select_image_type')
            } else if (e.target.value == 'SELECT') {
                document.getElementById("dh_product_variant_specification_item_value_configurator").classList.remove("hidden")

                if(document.getElementById("dh_product_variant_specification_item_value_configurator_image"))
                    document.getElementById("dh_product_variant_specification_item_value_configurator_image").classList.add("hidden")

                Container.classList.remove('select_image_type')
            } else {
                document.getElementById("dh_product_variant_specification_item_value_configurator").classList.add("hidden")
                Container.classList.remove('select_image_type')
            }
        })
    </script>
{% endblock %}
