{% from '@SyliusAdmin/Macro/translationForm.html.twig' import translationForm %}

{% block content %}
    {{ form_errors(form) }}

    <div class="ui tab" data-tab="specification">
        <h3 class="ui top attached header">{{ 'dh_artis_product_specification_plugin.ui.specification'|trans }}</h3>
        <div class="ui attached segment">
            {{ form_errors(form.specification) }}
            <div class="two fields">
                {{ form_row(form.specification.code) }}
            </div>
            {{ translationForm(form.specification.translations) }}
            <h4 class="ui dividing header">{{ 'dh_artis_product_specification_plugin.ui.product_variant_specification_items'|trans }}</h4>
            <div class="custom-title-bar">
                <div class="column">{{ 'dh_artis_product_specification_plugin.form.product_variant.specification.item_name'|trans }}</div>
                <div class="wrapper">
                    <div class="column">{{ 'dh_artis_product_specification_plugin.form.product_variant.specification.visible_in_description'|trans }}</div>
                    <div class="column">{{ 'dh_artis_product_specification_plugin.form.product_variant.specification.visible_in_product_list'|trans }}</div>
                    <div class="column">{{ 'dh_artis_product_specification_plugin.form.product_variant.specification.visible_in_description'|trans }}</div>
                    <div class="column">{{ 'dh_artis_product_specification_plugin.form.product_variant.specification.used_as_filter'|trans }}</div>
                </div>
            </div>
            <div class="option-values-container product-specification-parameters">
                {% if(form.specification.itemConfigurations is defined) %}
                    {{ form_row(form.specification.itemConfigurations) }}
                {% endif %}
            </div>
            <br>
        </div>
    </div>

    {% import '@SyliusUi/Macro/buttons.html.twig' as buttons %}

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/dhartisproductspecificationplugin/css/product_specification_item_configuration.css') }}">
{% endblock %}
