{% from '@SyliusAdmin/Macro/translationForm.html.twig' import translationForm %}

<div class="ui segment">
    {{ form_errors(form) }}
    <div class="two fields">
        {{ form_row(form.code) }}
        {{ form_row(form.position) }}
    </div>
    {{ translationForm(form.translations) }}
    <div class="ui segment">
        <div class="one fields">
            {{ form_row(form.specificationParameter) }}
        </div>
    </div>
</div>
<h4 class="ui dividing header">{{ 'sylius.ui.values'|trans }}</h4>
{{ form_row(form.values) }}



