{{ form_errors(form) }}
{% form_theme form '@DHArtisProductSpecificationPlugin/Admin/Form/imagesTheme.html.twig' %}

<div class="ui tab" data-tab="specification">
    <h4 class="ui dividing header">{{ 'dh_artis_product_specification_plugin.ui.product_variant_specification'|trans }}</h4>

    {% if form.specificationItemValues is defined %}
        {{ form_errors(form.specificationItemValues) }}
        {{ form_row(form.specificationItemValues) }}
    {% endif %}

    {{ form_row(form.variantSpecificationImages) }}
</div>
